{% extends 'base1.html'%}

{% load widget_tweaks %}
{% load static%}
{% block nav6%} active{%endblock%}
{% block body%}
<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-1.jpg'%})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Bandra,Mumbai
                                        <br> 78345</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">09 </span> Sweet Home
                                        <br> Bandra Street Market</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | Rs 30,000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-2.jpg'%})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Karol Bagh, Delhi
                                        <br> 85345</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">104 </span> Shanti Vihar
                                        <br> Karol Bagh Market </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Sell | Rs 1,50,00,000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-3.jpg'%})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Johari Bazzar, Jaipur
                                        <br> 90045</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">04 </span> Om Palace
                                        <br> Badi Chaupat Street</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | Rs 20,000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/ Carousel end /-->

<div class="container mb-3 py-4">
    <h1 class="text-center">Register as User</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">First Name</label>
            <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Enter your First Name"
                   required="text">
        </div>
        <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Enter your Last Name"
                   required="text">
        </div>
        <div class="form-group">
            <label for="id_username">UserName</label>
            <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter your UserName"
                   minlength="7">
        </div>
        <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Enter your Password"
                   minlength="8">
            <ul id="info" style="display: none">
                <li>Password must contain at least 8 characters</li>
                <li> Password must contain a special character and a capital letter</li>
                <li> Password should not be entirely numeric </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="id_password2">Confirm Password</label>
            <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Enter your Password again"
                   minlength="8">
        </div>
        <div class="form-group">
            <label for="id_c_address">Address</label>
            <input type="text" class="form-control" id="id_c_address" name="c_address" placeholder="Enter your Address">
        </div>
        <div class="form-group">
            <label for="id_c_mobile">Contact</label>
            <input type="text" class="form-control" id="id_c_mobile" name="c_mobile" placeholder="Enter your Contact Number">
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter your E-mail">
        </div>
        <div style="margin-left: 500px;">
            <button class="btn btn-primary btn-lg" type="submit">Register</button>
        </div>
    </form>
</div>


{% endblock%}

